{% extends 'base.html.twig' %}

{% block body %}
<h1>Budget1 </h1>
<hr/>
<table class="table">
	<thead>
		<tr>
			<th>Participants</th>
			<th>Participation</th>
			<th>Balance</th>
		</tr>
	</thead>	
	<tbody>
		{% for user in users %}
		<tr>
			<td><span><input type="text" name="person1" value="{{user.name}}"></span></td>
			<td><input type="text" value="{{user.spending}}">€</td>
			<td>{{ (total / user|length) - user.spending }}€</td>
		</tr>
		{% endfor %}	
		<tr>
			<td><span><input type="text" name="person4" value="" placeholder="Ajouter une person"></span></td>
		</tr>
	</tbody>
</table>
<hr>
<div class="row">
	<div class="col-md-12">
		<label>Total budget: {{total}}</label>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-primary">Calculer la répartition</button>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<button class="btn btn-primary">Supprimer le budget</button>
	</div>
	<div class="col-md-6">
		<a href="{{path('home')}}"><button class="btn btn-primary">Retour aux budgets</button></a>
	</div>
</div>
<br/>


{% endblock %}

